<footer>
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>Dyslexia & Autism Detector</h2>
        <br><br>
        <div class="social-menu">
          <ul>
              <li><a href="#" target="blank"><i class="fab fa-github"></i></i></a></li>
              <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-codepen" target="blank"></i></a></li>
          </ul>
      </div>
      </div>
    </div>
  </section>
</footer>
