<header class="header-global navbar-fixed-top " >
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark headroom--not-top headroom--not-bottom headroom--pinned">            <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="./index.html">
                <img class="navbar-brand-dark" src="/static/assets/img/logoa.png" alt="Logo light">
                <img class="navbar-brand-light" src="/static/assets/img/logoa.png" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="/static/assets/img/logoa.png" alt="Themesberg logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item ">
                        <a href="/index" class="nav-link">
                            Home
                            
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/test" class="nav-link">
                            Test
                            
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="contact.html" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>