{% extends "layouts/base.html" %} {% block title %} Help {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
  <!-- {% include 'includes/preloader.html' %} -->

  <!-- Hero -->
  <section class="section section-header pb-10 bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8 text-center">
          <h1 class="display-2 mb-3">Get in touch today</h1>
          <p class="lead">Here to assist you whenever you need a hand.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="card shadow">
                            <img
                                src="/static/assets/img/blog/image-1.jpg"
                                class="card-img-top rounded-top"
                                alt="Themesberg office"
                            />
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"
                                ><span class="fas fa-medal me-2"></span>Awards</span
                                >
                                <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
                                <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                            </div>
                            </div>
                        </div> -->
  <!-- Section -->
  <div class="section py-0">
    <div class="container mt-n10">
      <div class="row">
        <div class="col-12">
          <div class="row row-cols-1 row-cols-md-3 g-">
            <div class="col">
              <div class="card h-100">
                <img
                  src="static/assets/img/blog/pexels-tara-winstead-8385972.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a
                      href="https://www.autismspeaks.org/blog/early-diagnosis-made-world-difference-my-autistic-son"
                      target="_blank"
                    >
                      Early diagnosis made a world of difference for my autistic
                      son</a
                    >
                  </h5>
                  <p class="card-text">
                    If you have any concerns about your son’s or daughter’s
                    development, insist on seeing a developmental pediatrician
                    or neurologist. My point is, don’t wait. Waiting won’t
                    change a diagnosis. But not waiting can change the outcome
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="static/assets/img/blog/D1.jpeg.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a
                      href="https://blog.dyslexia.com/so-your-child-hates-to-write/"
                      target="_blank"
                      >So your child hates to write?</a
                    >
                  </h5>
                  <p class="card-text">
                    Some kids are interested in “writing” when they’re 2. They
                    love letters and learn all the letter names and the letter
                    song.Some kids aren’t interested in writing until they’re 5
                    or 6 or 7. Yes — seven years old and not writing yet!
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img
                  src="static/assets/img/blog/speech-therapy-centre-cochin-prayatna-learning-disability.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a
                      href="https://specialkids.company/blogs/latest-news/how-can-autism-impact-on-functional-skills"
                      target="_blank"
                      >How can Autism impact on Functional Skills?</a
                    >
                  </h5>
                  <p class="card-text">
                    There is a saying, ‘you meet one person with autism, you
                    meet one person with autism’. Every autistic person is
                    different. Autism can impact on a child’s functional skills,
                    the skills needed to carry out day-to-day activities, but
                    this can vary from child to child.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- CARDS -->
        </div>
      </div>
    </div>
  </div>

  <!-- video carousel -->

  <!-- Section -->
  <section class="section section-lg pt-6">
    <div class="container">
      <div class="row justify-content-center mb-5 mb-lg-6">
        <div class="col-12 col-lg-8">
          <!-- Contact Card -->
          <div class="card border-0 p-2 p-md-3 p-lg-5">
            <div class="card-header bg-white border-0 text-center">
              <h2>Medical Inquiries</h2>
              <p>Submit your inquiry and get the medical help you need.</p>
            </div>
            <div class="card-body px-0 pt-0">
              <form action="#">
                <!-- Form -->
                <div class="mb-4">
                  <label for="name">Your Name</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"
                      ><span class="fas fa-user-circle"></span
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="e.g. Bonnie Green"
                      id="name"
                      required
                    />
                  </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="mb-4">
                  <label for="email">Your Email</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon4"
                      ><span class="fas fa-envelope"></span
                    ></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="example@company.com"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <!-- End of Form -->
                <div class="mb-4">
                  <label for="message">Your Message</label>
                  <textarea
                    placeholder="Your message"
                    class="form-control"
                    id="message"
                    rows="4"
                    required
                  ></textarea>
                </div>
                <!-- End of Form -->
                <div class="d-grid">
                  <button type="submit" class="btn rounded btn-secondary">
                    Send message
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- End of Contact Card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h2>Trusted Doctors</h2>
        </div>
   
        
<!-- Doc1 -->
<div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
  <div class="card border-0 overflow-hidden">
      <div class="position-relative">
          <img src="static/assets/img/doctors/dr.webp" class="card-img-top"
              alt="Neil Portrait">
      </div>
      <div
          class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
          <h3 class="h5 card-title">Dr. Dharam Pani Pandey</h3>
          <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>Delhi,
              India</span>
          <p class="mt-3">Physiotherapist</p>
          <div class="btn-group">
              <button class="btn btn-secondary btn-icon">
                  <span class="me-1"><span class="far fa-user"></span></span>
                  Know more...</button>
              <button class="btn btn-primary" aria-label="mesage button" title="message button">
                  <span aria-hidden="true" class="far fa-envelope"></span>
              </button>
          </div>
      </div>
  </div>
</div>  


<!-- Doc2 -->
<div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
  <div class="card border-0 overflow-hidden">
      <div class="position-relative">
          <img src="static/assets/img/doctors/dr-sandip-modh-best-neurosurgeon-in-ahmedabad.jpg" class="card-img-top"
              alt="Neil Portrait">
      </div>
      <div
          class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
          <h3 class="h5 card-title">Dr. Sandip Modh</h3>
          <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>Gujarat,
              India</span>
          <p class="mt-3">Consultant Neurosurgeon</p>
          <div class="btn-group">
              <button class="btn btn-secondary btn-icon">
                  <span class="me-1"><span class="far fa-user"></span></span>
                  Know more...
              </button>
              <button class="btn btn-primary" aria-label="mesage button" title="message button">
                  <span aria-hidden="true" class="far fa-envelope"></span>
              </button>
          </div>
      </div>
  </div>
</div>  

                              <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                                <div class="card border-0 overflow-hidden">
                                    <div class="position-relative">
                                        <img src="static/assets/img/doctors/dr_mohit_bhatt.jpg" class="card-img-top"
                                            alt="Neil Portrait">
                                    </div>
                                    <div
                                        class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                                        <h3 class="h5 card-title">Dr. Mohit Bhatt</h3>
                                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>Banglore,
                                            India</span>
                                        <p class="mt-3">Neurologist</p>
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-icon">
                                                <span class="me-1"><span class="far fa-user"></span></span>
                                                Know more...
                                            </button>
                                            <button class="btn btn-primary" aria-label="mesage button" title="message button">
                                                <span aria-hidden="true" class="far fa-envelope"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of section -->
</main>

<!-- {% include 'includes/footer.html' %}  -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}