{% extends "layouts/base.html" %}

{% block title %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main>
    <div class="hero_area">
        {% include 'includes/navigation.html' %}
        <section class="slider_section ">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h1 style='font-family: "Libre Baskerville", serif;'>
                                            Dyslexia Testor
                                            <span>

                                            </span>
                                        </h1>
                                        <p style="
                                        font-family: 'Playfair Display', serif;
                                        font-size: 20px;"
                                      >
                                            Neurodetect's Dyslexia Detector provides a mechanism for you to answer
                                            a specially curated survey covering areas like:
                                            <br>
                                        <ul style="font-family: 'Playfair Display', serif;
                                        font-size: 20px;">
                                            <strong>
                                                <li> Language Vocabulary </li>
                                                <li>Vision </li>
                                                <li>Sound & Hearing </li>
                                                <li>Memory </li>
                                                <li> Speech </li>
                                                <li> Language Description </li>
                                            </strong>
                                        </ul>

                                        <div style="font-family: 'Playfair Display', serif;
                                        font-size: 20px;">Children are advised to attemp this survy under
                                            elderly surveillance
                                            to get the most appropriate results. This would help us model the
                                            results in the best way possible.
                                            <br><br>
                                            All the best, young one!
                                        </div>
                                        <br>

                                        <div style="font-family: 'Playfair Display', serif;
                                        font-size: 20px;">
                                            To know more Dyslexia and its mitigation measures, <a href="https://www.google.com" target="_blank" >click here. </a>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-md-6 img-container">
                                    <div class="img-box">
                                        <img src="images/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section-header">
        <h3 id="animate-charcter">Test</h3>
        <div class="main" style="margin: 50px; padding: 50px;">
            <form name="quiz" method="post" action="/test">
                <div class="question">

                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">1.Check whether these two alphabets are same or not?<br>
                                        <img src="/static/assets/img/quiz/o.png" width=100 height=100><img
                                            src="/static/assets/img/quiz/0.jpeg" width=100 height=100><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="Yes" name="q1" value="4" class='form-check-input'>
                                    <label for="Yes" class="form-check-label">Yes</label><br>
                                    <input type="radio" id="No" name="q1" value="0" class='form-check-input'>
                                    <label for="No" class="form-check-label">No</label><br>
                                </div> 
                            </fieldset>
                    </div>

                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">2.Guess the fruit in the picture below.<br>
                                        <img src="/static/assets/img/quiz/grapes.jpeg" width=350 height=250><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="Grapes" name="q2" value="4" class='form-check-input'>
                                    <label for="Grapes" class="form-check-label">Grapes</label><br>
                                    <input type="radio" id="Orange" name="q2" value="0" class='form-check-input'>
                                    <label for="Orange" class="form-check-label">Orange</label><br>
                                    <input type="radio" id="Banana" name="q2" value="0" class='form-check-input'>
                                    <label for="Banana" class="form-check-label">Banana</label><br>
                                    <input type="radio" id="Mango" name="q2" value="0" class='form-check-input'>
                                    <label for="Mango" class="form-check-label">Mango</label><br>

                                </div> 
                            </fieldset>
                    </div>


                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">3.Check whether these two alphabets are same or not?<br>
                                        <img src="/static/assets/img/quiz/g.jpg" width=100 height=100><img
                                            src="/static/assets/img/quiz/s.jpeg" width=100 height=100><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="Yes" name="q3" value="0" class='form-check-input'>
                                    <label for="Yes" class="form-check-label">Yes</label><br>
                                    <input type="radio" id="No" name="q3" value="4" class='form-check-input'>
                                    <label for="No" class="form-check-label">No</label><br>
                                </div> 
                            </fieldset>
                    </div>


                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">4.Which letter is G?<br>
                                        <img src="/static/assets/img/quiz/g.jpg" width=100 height=100><img
                                            src="/static/assets/img/quiz/o.png" width=100 height=100><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="First" name="q4" value="4" class='form-check-input'>
                                    <label for="First" class="form-check-label">First</label><br>
                                    <input type="radio" id="Second" name="q4" value="0" class='form-check-input'>
                                    <label for="Second" class="form-check-label">Second</label><br>
                                </div> 
                            </fieldset>
                    </div>


                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">5.Which letter CAT starts with?<br>
                                        <img src="/static/assets/img/quiz/cat.jpeg" width=400 height=300><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="K" name="q5" value="0" class='form-check-input'>
                                    <label for="K" class="form-check-label">K</label><br>
                                    <input type="radio" id="S" name="q5" value="0" class='form-check-input'>
                                    <label for="S" class="form-check-label">S</label><br>
                                    <input type="radio" id="C" name="q5" value="4" class='form-check-input'>
                                    <label for="C" class="form-check-label">C</label><br>
                                </div> 
                            </fieldset>
                    </div>

                    <br>
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">6.What is the smaller version of this letter?<br>
                                        <img src="/static/assets/img/quiz/b.png" width=100 height=100><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="d" name="q6" value="0" class='form-check-input'>
                                    <label for="d" class="form-check-label">d</label><br>
                                    <input type="radio" id="b" name="q6" value="4" class='form-check-input'>
                                    <label for="b" class="form-check-label">b</label><br>
                                </div> 
                            </fieldset>
                    </div>


                    <br>
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">7.What do you hear?<br>
                                        <audio controls class="audio">
                                            <source src="/static/assets/img/quiz/s.mp3" type="audio/mp3">
                                        </audio><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="F" name="q7" value="0" class='form-check-input'>
                                    <label for="F" class="form-check-label">F</label><br>
                                    <input type="radio" id="S" name="q7" value="4" class='form-check-input'>
                                    <label for="S" class="form-check-label">S</label><br>
                                </div> 
                            </fieldset>
                    </div>

        
                    <br>
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">8.What do you see in the picture?<br>
                                        <img src="/static/assets/img/quiz/god.jpeg" width=300 height=200><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="DOG" name="q8" value="0" class='form-check-input'>
                                    <label for="DOG" class="form-check-label">DOG</label><br>
                                    <input type="radio" id="GOD" name="q8" value="4" class='form-check-input'>
                                    <label for="GOD" class="form-check-label">GOD</label><br>
                                </div>
                            </fieldset>
                    </div>

                    <br>
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">9.Which hand is left and Which hand is right?<br>
                                        <img src="/static/assets/img/quiz/right.jpeg" width=300 height=200><img
                                            src="/static/assets/img/quiz/left.jpeg" width=300 height=200><br> </span>
                                </h4>
                                <div class="option-block-container" id="question-options">

                                    <input type="radio" id="First one is right and next one is left" name="q9" value="4"
                                        class='form-check-input'>
                                    <label for="First one is right and next one is left" class="form-check-label">First
                                        one is right and next one is
                                        left</label><br>
                                    <input type="radio" id="First one is left and next one is right" name="q9" value="0"
                                        class='form-check-input'>
                                    <label for="First one is left and next one is right" class="form-check-label">First
                                        one is left and next one is
                                        right</label><br>

                                </div>
                            </fieldset>
                    </div>

                    <br>
                    <div id="result" class="quiz-body">
                        <form name="quizForm" onSubmit="">
                            <fieldset class="form-group">
                                <h4 style="font-family: 'Playfair Display', serif;
                                font-size: 24px;"><span id="qid">10.What do you hear?<br>
                                        <audio controls>
                                            <source src="/static/assets/img/quiz/lake.mp3" type="audio/mp3">
                                        </audio><br>
                                    </span></h4>
                                <div class="option-block-container" id="question-options">
                                    <input type="radio" id="CAKE" name="q10" value="0" class='form-check-input'>
                                    <label for="CAKE" class="form-check-label">CAKE</label><br>
                                    <input type="radio" id="LAKE" name="q10" value="4" class='form-check-input'>
                                    <label for="LAKE" class="form-check-label">LAKE</label><br>
                                    <input type="radio" id="TAKE" name="q10" value="0" class='form-check-input'>
                                    <label for="TAKE" class="form-check-label">TAKE</label><br>
                                    <input type="radio" id="FAKE" name="q10" value="0" class='form-check-input'>
                                    <label for="FAKE" class="form-check-label">FAKE</label><br>
                                </div> 
                            </fieldset>
                    </div>

                    <!-- <span id="button"><a href="/test"><centre>SUBMIT</centre></span></a></span> -->
                    <input type=submit value=Predict class="pred-btn">
                </div>
            </form>
        </div>

    </section>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: [],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            420: {
                items: 2
            },
            1000: {
                items: 5
            }
        }

    });
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

        e.preventDefault();
        nav.toggleClass("lg_nav-toggle");
        document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });

    $('.carousel').on('slid.bs.carousel', function () {
        $(".indicator-2 li").removeClass("active");
        indicators = $(".carousel-indicators li.active").data("slide-to");
        a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
        console.log(indicators);

    })
</script>
{% endblock javascripts %}

</html>